# {{ ansible_managed }}
<VirtualHost *:80>
   ServerName {{ app.name }}
   Redirect permanent / https://{{ app.name }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ app.name }}

  SSLEngine on

  SSLCertificateFile {{ app.cert }}
  SSLCertificateKeyFile {{ app.key }}

  <Location />
    RewriteEngine on
    RewriteCond %{REMOTE_USER} (.*)
    RewriteRule .* - [E=ENV_REMOTE_USER:%1]
    RequestHeader set X-Proxy-REMOTE-USER %{ENV_REMOTE_USER}e
    RequestHeader unset Authorization

    AuthName "Restricted Access"
    AuthType GSSAPI
    GssapiCredStore keytab:/etc/httpd/krb.keytab
    GssapiAcceptorName HTTP@{{ ansible_facts['fqdn'] }}
    GssapiLocalName On
    GssapiBasicAuth {% if app['krb_passwd'] %}On{% else %}Off{% endif %}

    GssapiAllowedMech krb5
    require valid-user
  </Location>

  ProxyPass / {{ app.upstream }}/
  ProxyPassReverse / {{ app.upstream }}/
  RequestHeader set X-Forwarded-Proto "https"
  {% if app.hsts %}Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains" {% endif %}

  RewriteEngine on
  RewriteRule ^/content/([^/]+)/(.*) /repository/$2 [R=301,L]

  {% if nexus_config_npm | default(false) -%}
  AllowEncodedSlashes On
  {% endif -%}

  ErrorLog {{ apache_revproxy_logdir }}/{{ app.name }}_error.log
  CustomLog {{ apache_revproxy_logdir }}/{{ app.name }}_access.log common
</VirtualHost>
